<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="preorder_index_listing_data_source" xsi:type="string">Task\Preorder\Model\ResourceModel\Preorder\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Task\Preorder\Ui\Component\MassAction\Status\Options">
             <arguments>
            <argument name="data" xsi:type="array">
            <item name="urlPath" xsi:type="string">preorder/index/status</item>
            <item name="paramName" xsi:type="string">status</item>
            <item name="confirm" xsi:type="array">
                <item name="title" xsi:type="string" translatable="true">Change Status</item>
                <item name="message" xsi:type="string" translatable="true">Are you sure?</item>
            </item>
        </argument>
        </arguments>
    </type>
    <virtualType name="Task\Preorder\Model\ResourceModel\Preorder\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">preorder</argument>
            <argument name="resourceModel" xsi:type="string">Task\Preorder\Model\ResourceModel\Preorder</argument>
        </arguments>
    </virtualType>
</config>